.card-image {
    max-width: 100%;
    display: block;
    max-height: 100%;
}

.company-info-div {
    padding-top: 90px;
}

.company-text-div {
    text-align: center;
    width: 50%;
    margin: auto;
    
}

.company-card-grid-div {
    width: 60%;
    margin: auto;
    text-align: center;
}

.grey-description {
    color: grey;
}